<p style="color: green"><%= notice %></p>

<h1>Proponents</h1>

<%= link_to "New proponent", new_proponent_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>CPF</th>
      <th>Salary</th>
      <th></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @proponents.each do |proponent| %>
      <tr>
        <td><%= proponent.name %></td>
        <td><%= proponent.cpf %></td>
        <td><%= number_to_currency(proponent.salary) %></td>
        <td>
          <%= form_with url: update_salary_proponent_path(proponent), method: :post do %>
            <%= text_field_tag :salary, nil, placeholder: "Novo Salário" %>
            <%= submit_tag 'Atualizar Salário' %>
          <% end %>
        </td>
        <td>
          <%= link_to "Show", proponent %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @proponents %> <!-- Paginação -->
</div>
